{% assign interests = site.data.data.interests %}
{% if interests %}
<section class="section publications-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-user fa-stack-1x fa-inverse"></i>
    </span>
    {{ interests.title }}
  </h2>

  {% for interest in interests.info %}
  <div class="item">
    <li>
      {{ interest.item }}
    </li>
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}

