{% assign languages = site.data.data.sidebar.languages %}
{% if languages %}
<section class="section publications-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-language fa-stack-1x fa-inverse"></i>
    </span>
    {{ languages.title }}
  </h2>

  {% for language in languages.info %}
  <div class="item">
    <li>
      {{ language.idiom }}
    </li>
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
